html,
body {
  background-color: #181818;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-size: 35px;
}
#nav-sticky-wrapper {
  display: block;
  position: absolute;
  width: 100%;
}
.sticky {
  position: fixed;
}
#navbar {
  background-color: #181818;
  z-index: 100;
  width: 100%;
  opacity: 0.5;
  overflow: hidden;
}
#navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: auto;
  padding: auto;
  justify-content: center;
}
.nav-link {
  margin: auto;
  text-decoration: none;
  color: #eee;
  font-size: 2vw;
}
.active,
.nav-link:hover {
  color: #326489;
}
.nav-item {
  font-size: 35px;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  height: 450px;
  width: 100%;
  font-size: 15px;
}
#welcome-section h1 {
  color: white;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  text-shadow: 2px 2px black;
  font-size: 5vw;
  max-width: 100%;
}

#submit_button {
  background-color: #326489;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}
#submit_button:hover {
  box-shadow: 5px 5px #888888;
}
#about {
  color: white;
  margin-top: 20px;
}
#about-header {
  border-bottom: 2px dashed #326489;
  padding-bottom: 10px;
}
#projects {
  background-color: #326489;
  border-radius: 7px;
}
.section-header {
  font-size: 150%;
  text-align: center;
  padding-top: 10px;
}
#tools-header {
  border-bottom: 2px dashed #326489;
  padding-bottom: 10px;
}
.tools-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
#projects h2 {
  margin: 5px;
  padding: auto;
  color: white;
}
#project-list {
  display: flex;
  flex-flow: column;
}
.project-tile {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  margin: 15px;
  padding: 30px;
  border: 1px solid black;
  box-shadow: 5px 5px #888888;
  border-radius: 5px;
}
.project-title {
  color: rgb(40, 65, 226);
}
.project-pic {
  border: 1px solid black;
  box-shadow: 3px 1px #888888;
  border-radius: 5px;
}
.project-details {
  color: #4a4e69;
  font-weight: 300;
}
.technology-header {
  margin-top: 0;
  margin-bottom: 0;
  color: #4a4e69;
}
.technology-details {
  color: #4a4e69;
  font-weight: 300;
}
.tech-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}
.project-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.project-button {
  position: relative;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #326489;
  width: 100%;
  max-width: 200px;
  color: white;
  box-shadow: 0px 2px 5px 1px darkgrey;
}
.project-button:hover {
  box-shadow: 3px 1px #888888;
}
.profile-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto;
  padding: 5px 5px;
}
.profile-link a {
  margin: 5px;
  text-decoration: none;
  color: white;
}
.profile-link a:hover {
  margin: 5px;
  text-decoration: none;
  color: #326489;
}
#contact-section {
  color: white;
}
#contact_form input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #326489;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#contact {
  color: white;
}
.contact_tabs {
  display: flex;
  overflow: hidden;
  flex-direction: row;
}
.contact_tab {
  background-color: transparent;
  color: white;
  margin-right: 0px;
  height: 55px;
  font-size: 50%;
  cursor: pointer;
  padding: 14px 16px;
  width: 25%;
  text-align: center;
  outline: none;
  float: left;
  border: transparent;
  transition: 0.3s;
}
#freelance {
  border-bottom: 2px solid lightblue;
}

.contact_tab:hover {
  background-color: #777;
}
.contact-list {
  color: white;
  list-style-type: none;
}
footer {
  text-align: center;
  color: white;
  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  html,
  body {
    background-color: #181818;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
      Sans-Serif;
    font-size: 30px;
  }
  #welcome-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    height: 50vh;
    width: 100vw;
    font-size: 15px;
  }
  .nav-link {
    text-decoration: none;
    color: #eee;
    font-size: 10px;
  }
  .nav-item {
    font-size: 4vw;
  }
  #project-list {
    display: flex;
    flex-direction: column;
  }
}
