<footer>
  <section class="footer-nav">
    <nav>     
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/post/">Post</a></li>
        <li><a href="/post/">Projects</a></li>
      </ul>
  </nav>
  </section>
  <section class="footer-social py-1">
    {% include social.html %}
  </section>
  <section class="footer-disclaimer">
    <small>Content ©2020 Kevin Nguyen. All rights reserved. </small>
    <br>
    <small>Design and code (except graphics) are open source </small>
  </section>
</footer>
