$light-color: #f4f4f4;
$primary-color: #0e6cff;
$secondary-color: #ff8700;
$dark-color: #333;


@function set-text-color($color) {
    @if(lightness($color) > 70) {
        @return #333;
    } @else {
        @return #333;
    }
}

@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
}
