@import url('https://fonts.googleapis.com/css?family=Lobster');
@import 'config';
@import 'utilities';
@import 'buttons';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:"Montserrat", Arial, sans-serif;
  line-height: 1.6;
  background-color: $light-color;
  color: set-text-color($dark-color);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    padding: 15px;
  }

  a {
    color: set-text-color($dark-color);
  }  

  a:hover {
    color: $primary-color;
  }
}

.showcase {
  @include set-background($light-color);
  height: 600px;
  display: block;

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    .avatar {
      width: 50%;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    h1 {
      @include header-font;
      font-size: 50px;
      line-height: 1.2;
    }
  }
}

.posts {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .posts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.projects {
  padding: 25px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.post {
  margin: 50px;

  &-showcase {
    background-color: $light-color;
    color: $dark-color;
    margin: 50px;
  }

  nav {
    a:hover {
      color: $primary-color;
    }
  }

  a:hover {
    color: $primary-color;
  }

  &-container {
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 30px;
    color: $dark-color;
  }
}

blockquote {
  margin:0 -20px 20px;
  padding:15px 20px 1px 40px;
  font-style:italic;
  background:#ccc;
  background:rgba(#000, 0.06);
  color:#222;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
  overflow-x:auto;
}

pre {
  padding:20px;
  background: #3A3C42;
  color:#f8f8f2;
  margin:0 -20px 20px;

  code {
    color:#f8f8f2;
  }

  li & {
    margin-left:-60px;
    padding-left:60px;
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
  z-index: 2;

  .my-name {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -1px;

    @media (max-width: 580px) {
      font-size: 22px;
    }
  }

  .statement {
    @include rounded;
    font-size: 18px;

    @media (max-width: 700px) {
      font-size: 16px;
    }

    @media (max-width: 650px) {
      display: none;
    }
  }

  .site-title {
    margin: auto auto;
    @media (max-width: 580px) {
      line-height: 1.2;
    }
  }
}

.site-nav-menu {
  @include border-radius(3px);
  margin: auto auto;
  padding: auto auto;
  background: $light-color;
  right: 0;
  float: right;
  position: relative;

  &:hover {
    .links { display: block; }

    .nav-trigger {
      .menu-icon {
        display: inline-block;
      }
    }

  }

  .nav-trigger {
    @include border-radius(3px);
    padding: 6px;
    display: block;
    text-align: right;
    line-height: 1;

    .menu-icon {
      display: block;

      path {
        fill: rgba($dark-color, 1);
      }
    }
  }

  .links {
    list-style: none;
    margin: 0;
    padding: 0 15px 8px;
    text-align: right;
    display: none;

    > li:hover {
      text-decoration: underline;
    }
  }
}

.page {
    display: block;
    max-width: 1100px;
    margin: 25px auto;
    padding: 25px 5px;
    overflow: hidden;
  &-home {
    @media (min-width: 700px) {
      .page-nav-menu {
        display: none;
      }
    }
    @media (max-width: 700px) {
      .page-nav-for-intro {
        display: none;
      }
      .page-nav-menu {
        position: absolute;
        top: 8px;
        right: 0px;
        display: none;
      }
    }
  }
  
  &-header {
    @include header-font;
    font-size: 40px;
    line-height: 1.3;
    font-weight: 600;
  }

  &-container {
    display: block;
    max-width: 1100px;
    margin: 25px auto;
    padding: 25px 5px;
    overflow: hidden;
  }
}



small {
  font-size:11px;
}



footer {
  background-color: lightgrey;
  width: 100%;
  margin-top: 160px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .footer-nav {
    align-self: center;
  }

  .footer-social {
    display: inline-block;

    ul {
      display: flex;
      justify-content: space-evenly;
    }
  
    a {
      display: inline-block;
      margin: 5px;
      color: set-text-color($dark-color);
    }  

    svg {
      fill: set-text-color($dark-color);
    }

    svg:hover {
      fill: $primary-color;
    }
    
  }

  .footer-disclaimer {
    align-self: center;
  }

  small {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    list-style: none;
  }

  a {
    font-weight:bold;
  }

  p {
    float:left;
  }

  p + p {
    float:right;
  }
}

@import 'mobile';