@import url('https://fonts.googleapis.com/css?family=Lobster');
@import 'config';
@import 'utilities';
@import 'buttons';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:"Montserrat", Arial, sans-serif;
  line-height: 1.6;
  background-color: $light-color;
  color: set-text-color($dark-color);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    padding: 15px;
  }

  a {
    color: set-text-color($dark-color);
  }  

  a:hover {
    color: $primary-color;
  }
}

.showcase {
  @include set-background($light-color);
  height: 600px;
  display: block;

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    .avatar {
      width: 50%;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    h1 {
      @include header-font;
      font-size: 50px;
      line-height: 1.2;
    }
  }
}

.projects {
  padding: 25px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }

  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }

  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    // counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    // counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__slide:before {
    // content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
}

.games {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  margin-top: 100px;

  .games-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }

  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }

  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  img.animated-gif{
    width: 570px;
    height: 530px;
  }

  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    // counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    // counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__slide:before {
    // content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }

  .carousel__title {
    position: absolute;
    text-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
}

.posts {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .posts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.post {
  margin: 50px;

  &-showcase {
    background-color: $light-color;
    color: $dark-color;
    margin: 50px;
  }

  nav {
    a:hover {
      color: $primary-color;
    }
  }

  a:hover {
    color: $primary-color;
  }

  &-container {
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 30px;
    color: $dark-color;
  }
}

blockquote {
  margin:0 -20px 20px;
  padding:15px 20px 1px 40px;
  font-style:italic;
  background:#ccc;
  background:rgba(#000, 0.06);
  color:#222;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
  overflow-x:auto;
}

pre {
  padding:20px;
  background: #3A3C42;
  color:#f8f8f2;
  margin:0 -20px 20px;

  code {
    color:#f8f8f2;
  }

  li & {
    margin-left:-60px;
    padding-left:60px;
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
  z-index: 2;

  .my-name {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -1px;

    @media (max-width: 580px) {
      font-size: 22px;
    }
  }

  .statement {
    @include rounded;
    font-size: 18px;

    @media (max-width: 700px) {
      font-size: 16px;
    }

    @media (max-width: 650px) {
      display: none;
    }
  }

  .site-title {
    margin: auto auto;
    @media (max-width: 580px) {
      line-height: 1.2;
    }
  }
}

.site-nav-menu {
  @include border-radius(3px);
  margin: auto auto;
  padding: auto auto;
  background: $light-color;
  right: 0;
  float: right;
  position: relative;

  &:hover {
    .links { display: block; }

    .nav-trigger {
      .menu-icon {
        display: inline-block;
      }
    }

  }

  .nav-trigger {
    @include border-radius(3px);
    padding: 6px;
    display: block;
    text-align: right;
    line-height: 1;

    .menu-icon {
      display: block;

      path {
        fill: rgba($dark-color, 1);
      }
    }
  }

  .links {
    list-style: none;
    margin: 0;
    padding: 0 15px 8px;
    text-align: right;
    display: none;

    > li:hover {
      text-decoration: underline;
    }
  }
}

.page {
    display: block;
    max-width: 1100px;
    margin: 25px auto;
    padding: 25px 5px;
    overflow: hidden;
  &-home {
    @media (min-width: 700px) {
      .page-nav-menu {
        display: none;
      }
    }
    @media (max-width: 700px) {
      .page-nav-for-intro {
        display: none;
      }
      .page-nav-menu {
        position: absolute;
        top: 8px;
        right: 0px;
        display: none;
      }
    }
  }
  
  &-header {
    @include header-font;
    font-size: 40px;
    line-height: 1.3;
    font-weight: 600;
  }

  &-container {
    display: block;
    max-width: 1100px;
    margin: 25px auto;
    padding: 25px 5px;
    overflow: hidden;
  }
}

small {
  font-size:11px;
}

footer {
  background-color: lightgrey;
  width: 100%;
  margin-top: 160px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .footer-nav {
    align-self: center;
  }

  .footer-social {
    display: inline-block;

    ul {
      display: flex;
      justify-content: space-evenly;
    }
  
    a {
      display: inline-block;
      margin: 5px;
      color: set-text-color($dark-color);
    }  

    svg {
      fill: set-text-color($dark-color);
    }

    svg:hover {
      fill: $primary-color;
    }
    
  }

  .footer-disclaimer {
    align-self: center;
  }

  small {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    list-style: none;
  }

  a {
    font-weight:bold;
  }

  p {
    float:left;
  }

  p + p {
    float:right;
  }
}

@import 'mobile';