<div class="games">
    <div class="games-header">
        <h1 class="section-heading">Games</h1>
    </div>
    <div class="gallery" aria-label="Gallery">
        <div class="gallery-items">
        {% for game in site.data.games %}
            <div class="gallery-item">
                <h3 class="gallery-item-title">{{game.name}}</h3>
                <p>{{game.summary}}</p>  
                <a href="{{game.code}}" target="_blank">  
                    <img class="animated-gif" src="{{game.game_gif}}" alt="{{game.name}}">
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>