<div class="projects">
    <div class="projects-header">
        <h1 class="section-heading">Web Applications</h1>
    </div>
    <div class="gallery" aria-label="Gallery">
        <div class="gallery-items">
        {% for project in site.data.projects %}
            <div class="gallery-item">
                <h3 class="gallery-item-title">{{project.name}}</h3>
                <p>{{project.summary}}</p>  
                <a href="{{project.code}}" target="_blank">  
                    <img class="animated-gif" src="{{project.project_image}}" alt="{{project.name}}">
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

